<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SL_to_SW_Bridge.Properties.Settings.DEKKER_AppConnectionString"
            connectionString="Data Source=SLSQL;Initial Catalog=DEKKER_App;Persist Security Info=True;User ID=dvtdev;Password=Debu9MyC0de"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
